<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>About Us</h2>
  <p>We are one of the leading web deisng and development company, We also provide web service, domain registration, email hosting and realted service.</p>
  <p>We provide web design service that gives an customer rich and eye-catch look and clean design. We are not only designing a website, we will take care of everything that makes your website and page a clean and clear design. All our design are optimized for faster loading and quick response.

      What is web design? Most of you confuse about web design and web development, web design is simple an front-end design i.e UI for an website. UI plays an major role in any website, web application or software, this design should look clean and smooth and color should be selected such as way that everyone should optimized to it. We always use latest technologies to build your design.</p>
  <p>We will develop your design to work perfectly. We follow Software Development Life Cycle (SDLC) for development process, we also concentrate on agile modeling. All these together makes your website ultra responsive and SEO Optimized. We use all latest technology and tools and keep your website always updated.</p>
  <p>We at webepix providing all kind of hosting and domain registration. We serve our customer with Shared, Dedicated, Virtual Private and Managed Hosting for reliable cost. All our services comes with 99.9% uptime guarantee. We also providing reseller hosting for grow your business.</p>
  <p>Cloud services provide high availability and highly scalable service throughout all day. You can increase productivity of your business using cloud services and also you can reduce the maintenance cost. Cloud service enables you to store data, delivery content, distribute data worldwide, host applications and so on.</p>
  <h3>About this App</h3>
  <p>This is an free app. You can send message to any whatsapp user without saving their phone number in your contact.</p>
</ion-content>
